.contacts-container {
    
    display: flex;
    flex-direction: column;
    background-color: white;

    align-items: start;
    justify-content: start;
    padding: 10px 5px 0px 5px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 3px 7px 0px 10px;
}

.chat-contacts {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 15px;
    

    
    
}

.contacts-header {
    width: 100% ;
    display: flex;
    align-items: center;
}

.contacts-header p{
    
    margin: 1px 0px 1px 8px;
    font-size: .92rem;
    font-weight: 500;
    color: #4c4e4fe1;
}



.contact-row {
    z-index: 1;
    transition: background-color .2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
}

.contact-row:hover {
    background-color: rgb(246, 245, 245);
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-contacts .follower-row:hover {
    background-color: rgba(218, 218, 218, 0.407);
}

.message-icon {
    color: #292b2cdd;
    
    margin: 0px 5px 0px 6px;
    font-size: .61rem;
}
.chat-contacts .follower-row  img{
    width: 34px !important;
}

.chat-contacts .follower-row  h5{
    font-size: .93rem;
    color: #292b2c ;
}

.contact-row img{
    width: 34px;

}

.contact-row h5{
    font-size: .87rem;
    font-weight: 400;
    margin: 0px 0px 0px 9px;
    color:  #292b2ce2;
}