.comment {
    margin: 0px 0px 0px 0px;
    border-top: 1px solid rgba(124, 123, 123, 0.352);
    
    
}

.comment-body {
    
    border-radius: 5px;
    border: 1px solid #8080801a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px 8px 5px 8px;
    background-color: white;
    
}

.comment-creator {
    padding: 10px 10px 10px 10px; 
    display: flex;
    justify-content: start;
    align-items: center;
    
    
    
}

.comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-icon {
    color: #6c757d ;
    visibility: hidden;
    margin: 0px;
    cursor: pointer;
}

.comment:hover .delete-icon {
    visibility: visible;
}

.comment-creator-form {
    
    margin-left: 15px;
    width: 80%;
}


.comment-creator-form input {
    border-radius: 20px;
    width: 100%;
}

.comment-content {
    margin: 0px !important;
    font-size: .94rem;
}

.comment-date {
    margin: 0px;
}

.comment-like-control {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.comment-footer {
    border-top: 1px solid rgba(128, 128, 128, 0.237);
    padding-top: 7px;
}

.comment-like-icon {
    margin: 0px 6px 1px 4px;
    
}

.comments-container {
    
    padding: 2px 0px 0px 0px;
}

.comment-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
    
}

.comment-username {
    margin: 0px 0px 0px 8px;
    font-size: .95rem;
}