body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

.like-control {
    transform: scale .5s, color .5s;
}

.like-control:hover {
    color:#0275d8;
}

.post-info-wrapper {
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-between;
    width: 100% !important;
}



.card-header-container {
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.post-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    margin-top: 10px;
}