body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}



.post-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
}



.card-header-container {
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}



.repo-links {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    
}

.links {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    

}

.links a {
    margin: 5px 0px 0px 0px !important;
   
}

.git-icon {
    margin: 10px 10px 0px 5px !important;
}

.link-icon {
    margin-left: 5px;
}