


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
    
 }



 .App {
   font-family: "Roboto";
   width: 100%;
   
 }


#root {
  background-color: rgb(249, 249, 249);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;

 }