/* .settings:hover {
    scale: 20;
} */

.settings {
    transform: rotate(0);
    transition: scale .1s, transform .2s;
    
}

.settings:hover {
    transform: rotate(90deg);
    scale: 1.05;
}

.profile-picture {
    
    transition: scale 0.2s;
}

@media screen and (max-width: 424px) {    .nav-profile-picture { display: none; } }

@media screen and (max-width: 424px) 
{    .nav-form { margin-right: 0px !important; } }
.profile-picture:hover {
    scale: 1.05;
    
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar-controls {
    
    display: flex;
    align-items: center;
    
}

.brand-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
