
.post-info {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.post-header {
    
    padding: 15px 10px 5px 10px;
    
    
}

.following-indicator {
    font-size: .7rem;
    font-weight: 300;
    color: rgb(100, 100, 100);
    margin-left: 4px;

}

.post-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.post-options {
    background-color: rgb(243, 243, 243);
    border-radius: 75px;
    border: none;
    
    
}

.post-content {
    margin: 10px 10px 20px 10px;
    color: #332d2dea;
}

.post-author-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 2px;
}

.post {
    margin-top: 10px;
    max-width: 850px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 100%;
    padding: 6px 0px 10px 0px;
}

.post-creator-header {
    background-color: rgb(252, 252, 252);
}

.post-page {
    
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-page .post {
    width: 100%;
}

.clock-icon {
    margin: 0px 4px 0px 0px;
}

.post-footer-action {
    
    display: flex;
    align-items: center;
    
    
    margin: 9px 0px 9px 9px;
    
}

.author-username {
    font-size: 1.10rem;
}


.action {    
    
    display: flex;
    align-items: center;
    justify-content: start;
    
    padding: 0px 3.5px 0px 3.5px;
    margin-left: 5px;

    transition: color .14;
}

.action:hover {    
    
    cursor: pointer;
    background-color: rgb(235, 232, 232);
    border-radius: 6px;
}

.action button{    
    
    padding: 0px 6px 0px 0px;
    /* padding: 0px 7px 0px 10px !important; */
    /* margin-bottom: 1px; */
}


.post-footer-action p{
    margin: 0px 2px 0px 0px !important;
    font-weight: 600;
    font-size: .89rem;
}

.author-profile {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    color: rgb(2, 117, 217);
    
}


.time {
    
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px !important;
    font-size: .73rem !important;
}

.time {
    margin: 0px 0px 0px 0px;
    font-size: .63rem !important;
    font-weight: 400;
}

.like-action {
    transition: color .1s;
}

.like-action:hover .like-control{
    color:#df4759 ;
    
}

.like-action:hover {
    color:#df4759 ;
}

.post-footer-actions {
    border-top: 1px solid rgba(118, 116, 116, 0.251) ;;
    display: flex;
    justify-content: start;
    align-items: center;
}

.comments-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px 0px 0px;
    color: rgb(54, 58, 61) ;
    cursor: pointer;
}

.counters {
    
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 1px 0px;
}

.post-footer {
    padding: 0px 10px 0px 10px;
}



.comments-counter p{
    margin: 0px 5px 0px 0px;
    font-size: .9rem;
}

.like-counter {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2px 8px 0px 0px;
    color: rgb(54, 58, 61) ;
    

}

.like-counter p {
    margin: 0px 0px 0px 5px;
    font-size: .9rem;
}
