
.post-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post {
    margin-top: 10px;
    max-width: 800px;
}

.post-page {
    
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-page .post {
    width: 100%;
}

.post-footer-action {
    
    display: flex;
    align-items: center;
    
    
    margin: 9px 0px 9px 9px;
    
}

.author-username {
    font-size: 1.15rem;
}


.action {    
    
    display: flex;
    align-items: center;
    justify-content: start;
    
    padding: 0px 3.5px 0px 3.5px;
    margin-left: 5px;

    transition: color .14;
}

.action:hover {    
    
    cursor: pointer;
    background-color: rgb(235, 232, 232);
    border-radius: 6px;
}

.action button{    
    
    padding: 0px 6px 0px 0px;
    /* padding: 0px 7px 0px 10px !important; */
    /* margin-bottom: 1px; */
}


.post-footer-action p{
    margin: 0px 2px 0px 0px !important;
    font-weight: 600;
    font-size: .89rem;
}

.author-profile {
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    color: rgb(2, 117, 217);
    
}



.post-info p{
    margin: 0px 0px 0px 12px;
    color: rgba(108, 117, 125, 0.864) ;
    font-size: .89rem;
}

.time {
    
    display: flex;
    justify-content: start;
    align-items: center;
}

.time p {
    margin: 0px 0px 0px 4px;
}

.like-action {
    transition: color .1s;
}

.like-action:hover .like-control{
    color:#df4759 ;
    
}

.like-action:hover {
    color:#df4759 ;
}

.post-footer-actions {
    border-top: 1px solid rgba(118, 116, 116, 0.251) ;;
    display: flex;
    justify-content: start;
    align-items: center;
}

.comments-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px 0px 0px;
    color: rgb(54, 58, 61) ;
    cursor: pointer;
}

.counters {
    
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 1px 0px;
}

.post-footer {
    padding: 0px 10px 0px 10px;
}



.comments-counter p{
    margin: 0px 5px 0px 0px;
    font-size: .9rem;
}

.like-counter {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2px 8px 0px 0px;
    color: rgb(54, 58, 61) ;
    

}

.like-counter p {
    margin: 0px 0px 0px 5px;
    font-size: .9rem;
}
